<html>
<head>
  <title>HelloTube</title>
  <%= stylesheet_link_tag "http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css" %>
</head>
<body>

    <div class="topbar">
      <div class="topbar-inner">
        <div class="container-fluid">
          <a class="brand" href="#">HelloTube!</a>
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
          <p class="pull-right">Logged in as <a href="#">username</a></p>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="sidebar">
        <div class="well">
        <% @videos.each do |video| -%>
          <h3><%= video.title %></h3>
          <ul>
            <object width="170" height="142">
              <param name="movie" value="<%=h video.embed_url%>"></param>
              <param name="wmode" value="transparent"></param>
              <embed src="<%=h video.embed_url%>" type="application/x-shockwave-flash" wmode="transparent" width="170" height="142"></embed>
            </object>
          </ul>
        <% end %>
        </div>
      </div>
      <div class="content">
        <div class="row">
        </div>

        <footer>
          <p>&copy; tkmrkt 2011</p>
        </footer>
      </div>
    </div>
</body>
</html>

