<!DOCTYPE html>
<html>
<head>
  <title>HelloTube</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    window.addEvent('domready', function(){
     
      var mf = new MooFlow($('MooFlow'), {
        startIndex: 0,
        useSlider: true,
        useAutoPlay: true,
        useCaption: true,
        useResize: true,
        useWindowResize: true,
        useMouseWheel: true,
        useKeyInput: true,
        heightRatio: 0.2,
        offsetY: -250
      });
     
    });
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
